{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/react-in-jsx-scope": 0,
    "no-unused-vars": 2,
    "import/prefer-default-export": 0,
    "react/function-component-definition": 0,
    "react/jsx-props-no-spreading": ["off"]
  },
  "ignorePatterns": [
    "node_modules",
    "dist",
    "build",
    "coverage",
    "public",
    "scripts",
    "vite.config.ts"
  ]
}
