{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./sso-service/tsconfig.eslint.json"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/return-await": "off",
    "import/no-extraneous-dependencies": "warn",
    "import/order": "warn",
    "class-methods-use-this": ["off", { "enforceForClassFields": false }],
    "no-await-in-loop": "warn",
    "import/prefer-default-export": "off",
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off"
  }
}
